What factors made people more likely to survive?

1)Were people with higher social-economic class had a higher chance in survival rate?
2)Did children with parents have a better survival rate vs children without parents?


1	survival: Survival (0 = No; 1 = Yes)
2	pclass: Passenger Class (1 = 1st; 2 = 2nd; 3 = 3rd)
3	name: Name
4	sex: Sex
5	age: Age
6	sibsp: Number of Siblings/Spouses Aboard
7	parch: Number of Parents/Children Aboard
8	ticket: Ticket Number
9	fare: Passenger Fare
10	cabin: Cabin
11 embarked: Port of Embarkation (C = Cherbourg; Q = Queenstown; S = Southampton)

In [ ]:
%matplotlib inline

# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import csv

titanic_data= pd.read_csv('titanic-data.csv')

In [ ]:
titanic_data.head()

In [ ]:
titanic_data_clean= titanic_data.drop(['Name', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'PassengerId'], axis=1)

In [ ]:
titanic_data_clean.head()

In [ ]:
titanic_clean_duplicate= titanic_data_clean.duplicated()

In [ ]:
print (titanic_clean_duplicate.sum())

In [ ]:
titanic_clean_duplicate= titanic_data_clean.duplicated('Age')
print (titanic_clean_duplicate.sum())

In [ ]:
x= titanic_data_clean.isnull()
print (x.sum())

In [ ]:
missed_age =pd.isnull(titanic_data_clean['Age'])
titanic_data_clean [missed_age].head()

In [ ]:
missing_age_female_survived= titanic_data_clean[missed_age]['Sex']=='female'

In [ ]:
missing_age_female_survived.sum()

In [ ]:
female_survived=titanic_data_clean['Sex']=='female'
male_survived=titanic_data_clean['Sex']=='male'
male_survived.sum()

In [ ]:
print ('number of female survivors are {} and number fo male survivors are {}'.format(female_survived.sum(),male_survived.sum()))

In [ ]:
titanic_data_clean.info()

In [ ]:
titanic_data_clean.describe()

In [ ]:
titanic_data_clean[titanic_data_clean['Age'] < 1]

In [ ]:
young_survived1= titanic_data_clean[titanic_data_clean['Survived']==1]
young_survived1.head()

In [ ]:
young_survived= young_survived1[titanic_data_clean['Age']<1]
young_survived.sum()

In [ ]:
youngest_survived =young_survived.min()
print ('youngest child who survived was: {}'.format(youngest_survived))

In [ ]:
oldest_survived = young_survived1[titanic_data_clean['Age']> 50]
oldest_survived.sum()

In [ ]:
oldest_survived.max()

# Were people with higher social-economic class had a higher chance in survival rate?

A summary of data in each class, such as number of survivors, total number of people in that class, sex and age of people,number of their sibilings and parents and,or spouses.

In [ ]:
class_one=titanic_data_clean[titanic_data_clean['Pclass']==1]

In [ ]:
class_one.sum()

In [ ]:
class_two=titanic_data_clean[titanic_data_clean['Pclass']==2]
class_three=titanic_data_clean[titanic_data_clean['Pclass']==3]
class_two.sum()

In [ ]:
class_three.sum()

In [ ]:
female_total= titanic_data_clean.groupby(['Sex']).size()['female']

print (female_total)

##Percentage of different gender survivors in each class compare to the total number of people of that gender.

In [ ]:
def survived_group(sex, pclass):
    grouped_total = titanic_data_clean.groupby(['Pclass', 'Sex', 'Survived']).size()[pclass,sex,1].astype('float')
    grouped_gender_total= titanic_data_clean.groupby(['Sex']).size()[sex].astype('float')
    percentage= (grouped_total/grouped_gender_total*100).round(2)
    return percentage

In [ ]:
groupedby_class_survived_size = titanic_data_clean.groupby(['Pclass','Sex','Survived']).size()
print (groupedby_class_survived_size)

In [ ]:
print ('rate of female survivors in the first class was {}% of all females aboard'.format(survived_group('female',1)))
print ('rate of female survivors in the second class was {}%of all females'.format(survived_group('female',2)))
print ('rate of female survivors in the third class was {}%of all females'.format(survived_group('female',3)))

In [ ]:
def survived_group2(sex, pclass):
    grouped_total = titanic_data_clean.groupby(['Pclass', 'Sex', 'Survived']).size()[pclass,sex,1].astype('float')
    grouped_gender_total= titanic_data_clean.groupby(['Pclass']).size()[pclass].astype('float')
    percentage2= (grouped_total/grouped_gender_total*100).round(2)
    return percentage2

In [ ]:
print ('rate of female survivors in the first class was {}%of all members of that class'.format(survived_group2('female',1)))

In [ ]:
print ('rate of male survivors in the first class was {}%of all members of that class'.format(survived_group2('male',1)))

In [ ]:
print ('rate of female survivors in the first class was {}%of all members of that class'.format(survived_group2('female',2)))
print ('rate of male survivors in the first class was {}%of all members of that class'.format(survived_group2('male',2)))

In [ ]:
print ('rate of female survivors in the first class was {}%of all members of that class'.format(survived_group2('female',3)))
print ('rate of male survivors in the first class was {}%of all members of that class'.format(survived_group2('male',3)))

In [ ]:
#all the surviversof class 1
grouped_class1= titanic_data_clean.groupby(['Pclass','Survived']).size()[1,1].astype('float')
grouped_class1.sum()

In [ ]:
#all the survivers of class 2
grouped_class2= titanic_data_clean.groupby(['Pclass','Survived']).size()[2,1].astype('float')
grouped_class2.sum()

In [ ]:
#all the survivers of class 3
grouped_class3= titanic_data_clean.groupby(['Pclass','Survived']).size()[3,1].astype('float')
grouped_class3.sum()

In [ ]:
grouped_class3= titanic_data_clean.groupby(['Pclass','Survived']).size()[3,1].astype('float')
grouped_classx= titanic_data_clean.groupby(['Pclass']).size()[3].astype('float')
print ('of all {} people at the third class only {} people survived '.format(grouped_classx,grouped_class3))

In [ ]:
import matplotlib.pylab as pylab
first_plot = sns.factorplot(x="Sex", y="Survived", col="Pclass", data=titanic_data_clean, 
                   saturation=.9, kind="bar", ci=None, size=3, aspect=1)

first_plot_revised = {'legend.fontsize': 'x-large',
          'figure.figsize': (15, 5),
         'axes.labelsize': 'x-large',
         'axes.titlesize':'x-large',
         'xtick.labelsize':'x-large',
         'ytick.labelsize':'x-large'}
pylab.rcParams.update(first_plot_revised)
first_plot.set(ylabel='survival rate')
first_plot.set_titles("Class {col_name}")

Although data shows that passengers of Class3 had a similar survival rate(119) as those from Class1 (136). However, looking at the percentages of the overall passengers per class and the total numbers across each class, it can be assumed that a passenger from Class1 is about 2.5x times more likely to survive than a passenger in Class3.

Therefore, people with higher social-economic class had a higher chance in survival rate:
Class 1: 62.96%
Class 2: 47.28%
Class 3: 24.24%

# Did children with parents have a better survival rate vs children without parents?

A person with the age less than 18 is define as a child.

In [ ]:
titanic_data_clean.loc[
    (titanic_data_clean['Age'] < 18),
    'Category'] = 'Child'

In [ ]:
children_with_parents=titanic_data_clean.loc[(titanic_data_clean['Category'] == 'Child') & (titanic_data_clean['Parch'] > 0)]
children_with_parents.head()

In [ ]:
children_without_parents=titanic_data_clean.loc[(titanic_data_clean['Category'] == 'Child') & (titanic_data_clean['Parch'] == 0)]
children_without_parents.head()

In [ ]:
children_with_parents.Survived.sum()

In [ ]:
children_without_parents.Survived.sum()

Data above shows that number of children survived with parents is almost 3 times as children without parents. Hence we can drew coclusion that children with parents had a better chance of survival compare to children without parents.

Resources:
https://github.com/jasonicarter/DAND_Titanic_Data_Analysis/blob/master/TitanicData.ipynb

https://docs.python.org/3/tutorial/

https://docs.python.org/2/tutorial/

Google.com